.wrapper{
   width: 75%;
   margin: 0 auto;
}
.header{
  padding-top: 10px;
   float: left;
   width: 100%;
}
.wrapright{
   float: left;
   width: 100%;
}
.right{
   margin-left: 585px;
}
.left{
   float: left;
   width: 560px;
   margin-left: -100%;
}
body {
   padding: 0px;
   margin: 0px;
}

legend {
  font-size: 17px;
  font-weight: bold;
}

.linebox {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
  text-align: left !important;
}

.smallfont {
  font-size: 10px;
  text-align: center;
}

.abilityscores td, .healthresolve td {
  width: 15px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.abilityscores input {
  border-radius: 6px;
  outline: none;
  border: 1px solid black;
  text-align: center;
  width: 60px;
  height: 25px;
  font-size: 16px;
}

.healthresolve input, .savingthrows input, .attackbonus input, .initiative input {
  border-radius: 6px;
  outline: none;
  border: 1px solid black;
  text-align: center;
  width: 75px;
  height: 25px;
  font-size: 16px;
}

.armorclass input {
  border-radius: 6px;
  outline: none;
  border: 1px solid black;
  text-align: center;
  width: 75px;
  height: 25px;
  font-size: 16px;
}

.skills input[type="text"] {
  border-radius: 6px;
  outline: none;
  border: 1px solid black;
  text-align: center;
  width: 40px;
  height: 20px;
  font-size: 16px;
}

.skills td {
  font-size: 14px;
}

.weapons td {
  padding: -1px;
}

.weapons td input {
  width: 99%;
  height: 25px;
  border: 1px solid black;
}

.weapons table {
  padding-bottom: 2px;
}

.mfont {
  font-size: 20px;
}

.initiative, .healthresolve, .abilities {
  padding-bottom: 20px;
  padding-top: 20px;
}

.abilityscores, .armorclass, .savingthrows, .attackbonus, .weapons, .feats, .spells {
  padding-bottom: 20px;
}
